body {
  /* height: 100vh !important; */
  /* margin: 10px !important; */
  /* overflow: hidden; */
  font-family: "Biotif", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar, ::-webkit-scrollbar-track {
  border-radius: 10px !important;
}

.ui.comments .comment .avatar img, .ui.comments .comment img.avatar {
  border-radius: 500rem !important;
}

.ui.header {
  font-family: Biotif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  font-weight: normal !important;
}

.ui.celled.grid {
  margin: 0 !important;
}

.ui.feed>.event>.content .extra {
  margin: 0 !important;
}

.ui.feed>.event>.content .extra.images img {
  /* max-width: 80% !important; */
  width: unset !important;
}

.ui.feed>.event>.content .meta .like:hover .comment.icon {
  color:gray;
}

.ui.grid>.column:not(.row), .ui.grid>.row>.column {
  padding-right: 0 !important;
}

@font-face {
  font-family: 'Biotif';
  font-weight: normal;
  src:
    local('Biotif-Regular'),
    url(./Fonts/Biotif-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Biotif';
  font-weight: 500;
  src:
    local('Biotif-Medium'),
    url(./Fonts/Biotif-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Biotif';
  font-weight: bold;
  src:
    local('Biotif-Bold'),
    url(./Fonts/Biotif-Bold.ttf) format('truetype');
}
